.root {
    -fx-background-color: #070F2B;
}

.side_anchorPane {
    -fx-background-color: #a6a6b7;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-border-style: solid;
    -fx-border-color: #151A38;
}

.logo_sidePane {
    -fx-background-color: #1B1A55;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-background-radius: 0px 20px 0px 0px;
    -fx-border-radius: 0px 20px 0px 0px;
    -fx-border-style: solid;
    -fx-border-color: #151A38;
}

.bottom_sidePane {
    -fx-background-color: #1B1A55;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-background-radius: 0px 0px 20px 0px;
    -fx-border-radius: 0px 0px 20px 0px;
    -fx-border-style: solid;
    -fx-border-color: #151A38;
}

.inner_pane {
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.most_inner_pane {
    -fx-background-color: #535C91;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
}

.ticket {
    -fx-background-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-color: #748CF1;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.ticket-header {
    -fx-background-color: #748CF1;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #535C91;
    -fx-border-radius: 10px 10px 0px 0px;
}

.ticket-body {
    -fx-padding: 10px;
}

.ticket-footer {
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-color: #535C91;
    -fx-border-radius: 0px 0px 10px 10px;
}

.ticket-button {
    -fx-background-color: #141313;
    -fx-text-fill: white;
    -fx-border-width: 0px;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}

.ticket-button:hover {
    -fx-background-color: #1e1d1d;
}
