.root {
    -fx-background-color: #8dacd3;
}

.form_pane {
    -fx-background-color: #014a9f;
}

#myanchor {
    -fx-background-color: #022048;
    -fx-border-width: 2px;
    -fx-border-color: #34495E;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 1);
}

.logo_sidePane {
    -fx-background-color: #34495E;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-background-radius: 0px 20px 0px 0px;
    -fx-border-radius: 0px 20px 0px 0px;
    -fx-border-style: solid;
    -fx-border-color: #2C3E50;
}

.bottom_sidePane {
    -fx-background-color: #34495E;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-background-radius: 0px 0px 20px 0px;
    -fx-border-radius: 0px 0px 20px 0px;
    -fx-border-style: solid;
    -fx-border-color: #2C3E50;
}

.side_anchorPane {
    -fx-background-color: #34495E;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-border-style: solid;
    -fx-border-color: #2C3E50;
}

.text-field {
    -fx-background-color: #2C3E50;
    -fx-border-color: #34495E;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 18;
    -fx-font-family: "Open Sans";
}

Label {
    -fx-font-size: 18;
    -fx-text-fill: #ECF0F1;
    -fx-font-family: "Open Sans";
}

Label:hover {
    -fx-text-fill: #1ABC9C; /* Change label text color on hover */
}

Button {
    -fx-background-color: #788f9b;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #1ABC9C;
    -fx-border-width: 2px;
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 18;
    -fx-font-family: "Open Sans";
}

Button:hover {
    -fx-background-color: #1ABC9C;
}

.btn_active {
    -fx-background-color: #1ABC9C;
    -fx-border-color: #16A085;
}
