* {
    -fx-primary : #535C91;
    -fx-secondary : #1B1A55;
    -fx-third: #070F2B;
    -fx-forth: #9290C3;
}
.background{
    -fx-background-radius: 20px;
    -fx-background-color: -fx-primary;

}
.label{
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(1, 22, 255, 0.7), 10, 0, 0, 1);
}
.submit{
    -fx-background-color: -fx-third;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 10, 0, 0, 1);
    -fx-background-radius: 30;
    -fx-border-width: 0;
}
.submit:hover{
    -fx-effect: dropshadow(gaussian, rgba(1, 22, 255, 0.7), 10, 0, 0, 1);
}